@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "slick";
  src: url("/fonts/slick.woff") format("woff"),
    url("/fonts/slick.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
